<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="Miconexion">
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/horario</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <mapping resource="datos/Asignatura.hbm.xml" />
        <mapping resource="datos/Tramohorario.hbm.xml" />
        <mapping resource="datos/Horario.hbm.xml" />
        <mapping resource="datos/Curso.hbm.xml" />
        <mapping resource="datos/Profesor.hbm.xml" />
        <mapping resource="datos/Ofertaeducativa.hbm.xml" />
        <mapping resource="datos/Reparto.hbm.xml" />
        <mapping resource="datos/Historicoprofesores.hbm.xml" />
    </session-factory>
</hibernate-configuration>
